.site-footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #b3aa92; /* Modifier selon vos besoins */
    color: #fff; /* Modifier selon vos besoins */
    padding: 20px;
}